@model DormApp.Domain.MailData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Вход";
    ViewBag.Header = "Вход в личный кабинет";

}

<div class="jumbotron" style="padding-top:0; padding-bottom: 0; margin-bottom:0; background-color: white">
    <div class=" text-center">

        @using (Html.BeginForm())
            {
            @Html.ValidationSummary()
            <div class="col-lg-4 col-md-4" style="padding-left: 2em;">
            </div>
            <div class="col-lg-4 col-md-4" style="padding-left: 2em;  margin-bottom: 2em;">

                <div class="form-group">
                    <p>
                        E-mail
                        @Html.TextBoxFor(
                       x => x.EmailAddress,
                       new { @class = "form-control input-lg" })
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        Пароль
                        @Html.TextBoxFor(
                       x => x.Password,
                       new { @class = "form-control input-lg", @type = "password" })
                    </p>
                </div>
                <input type="submit"
                       value="Войти"
                       class="btn btn-success form-control btn-lg input-lg
                       style="margin-top: 1.5em;" />
            </div>
        }
    </div>
</div>

