@model DormApp.Domain.RegistrationData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Подтверждение";
    ViewBag.Header = "Подтверждение";

}

<div class="jumbotron" style="padding-left: 3em; padding-right: 3em; background-color: white">
    <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-heading"><h3><i><b>@Model.Name</b></i>, регистрация прошла успешно</h3></div>
            <div class="panel-body">
                <p>На ваш почтовый ящик @Model.EmailAddress выслано письмо с паролем от личного кабинета</p>
                <p>
                    @Html.ActionLink(
                  "Войти в личный кабинет",
                  "Index",
                  "Login",
                  null,
                  new { target = "_self", style = "color: black; text-decoration: underline; font-style: italic;" })
                </p>
            </div>
            <div class="panel-footer">
                С Уважением, <br /> @Model.DormitoryName
            </div>
        </div>
    </div>
</div>
