DIV.pager {
    text-align: right;
    border-top: .2em solid grey;
    padding-right: 2em;
    padding-top: 1em;
    margin-top: 1em;
}

    DIV.pager A {
        font-size: 1.5em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }

        DIV.pager A:hover {
            background-color: Silver;
        }

        DIV.pager A.selected {
            background-color: #353535;
            color: White;
        }
